body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-container, .signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin: 50px auto;
}

h2 {
    text-align: center;
}

.login-container input, .signup-container input {
    display: block;
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button, .signup-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover, .signup-container button:hover {
    background-color: #45a049;
}

.signup-text {
    text-align: center;
}

#login-message, #signup-message {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.productlist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    background-color: #ffffff;
    padding: 25px;
    border: 1px solid #ccc;
    margin: 30px;
    width: 190px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
}

.quantity-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-controls button {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-controls input {
    width: 40px;
    margin: 0 5px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.priceDiv {
    margin: 20px 0px;
}

.unitSpan {
    font-style: italic;
    margin-left: 6px;
    font-size: 14px;
    font-family: sans-serif;
}

.addBtn {
    border: 1px solid rgb(49, 134, 22);
    width: 150px;
    height: 38px;
    background-color: #e3faeb;
    border-radius: 10px;
    font-weight: 500;
    color: #0f560f;
}

.headerDiv {
    padding: 20px;
    display: flex;
    position: sticky;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

.checkoutBtn {
    width: 100px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.order-summary {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 20px;
    border-radius: 8px;
    width: 100%;
}

.order-item {
    display: grid;
    grid-template-columns: 94px 1fr 180px 90px;
    gap:48px;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}


.order-item .product-name {
    flex-grow: 0;
    flex-shrink: 0;
    width: 200px; 
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidAden;
    text-overflow: ellipsis;
}


.order-img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.order-item .product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.quantity-controls-summary {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 180px;
}

.quantity-controls-summary button {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-controls-summary input {
    width: 40px;
    margin: 0 5px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}


.grand-total-section {
    text-align: right;
    margin-top: 20px;
}

.button-container {
    text-align: center;
    margin: 20px 0; 
}

.download-btn-wrapper {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}

.download-btn {
    width: 150px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: gray;
}
